@import "../../styles/variables";

.tabLink{
    color: $labelColor;
    padding: 8px;
    &:active{
        color: $labelColor;
    }
    &:hover{
        color: $labelColor;
    }
    &:focus{
        color: $labelColor;
    }
}

.activeTabLink{
    color: $labelColor;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: $borderColor;
    padding: 8px 19px 3px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    &:active{
        color: $labelColor;
    }
    &:hover{
        color: $labelColor;
    }
    &:focus{
        color: $labelColor;
    }
}

.navTabs{
    margin-bottom: 20px;
    border-bottom: 1px solid $borderColor;
}
